
.header{
    display: flex;
    background-color:rgb(204, 136, 10);
    position: sticky;
}
p {
    font-style: italic;
}
.body {
    background-color: blanchedalmond;
}
.pics {
    width: 100px;
    height: auto;
    border: 5px solid rgb(3, 3, 3);
}
.options {
    padding: 10px;
    background-color:rgb(204, 136, 10);
    position: absolute;
    right: 55px;
    align-items: center;
}
.title {
font-weight: 600;
font-family: 'CenturyGothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
font-size: 40px;
}
.symbol {
    width: 50px;
    height: auto;
    margin-top: 15px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.logo {
    width: 100px;
    height: auto;
    padding: 5px;
}
.links {
    font-size: 30px;
    font-family:'CenturyGothic';
    text-decoration:underline;
}
.recipelist {
    text-align: center;
}
.caption {
    display: inline-block;
} 
 figure {
    display: inline-block;
}
figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}